{% extends 'pagina_base/base.html' %}
{% load static %}
{% block titulo %}Eliminar Medicamento {% endblock titulo %}
{% block contenido %}
<div class="container mt-4 bg-danger text-white p-4 rounded">
    <h1>Eliminar Medicamento</h1>
    <p>¿Está seguro que desea eliminar el siguiente medicamento?</p>
    <ul>
        <li><strong>Código:</strong> {{ medicamento.id_medicamento }}</li>
        <li><strong>Descripción:</strong> {{ medicamento.descripcion }}</li>
    </ul>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">Confirmar Eliminación</button>
        <a class="btn btn-outline-dark" href="{% url 'lista_medicamento' %}">Cancelar</a>
    </form>
</div>
{% endblock contenido %}
